.invalidInput, .error{
color:#8a1f11;
border:2px solid #FFD324;
}
.error,.notice{
padding:0.5em;
margin:0.5em;
width:50%;
margin : 10px auto auto auto;
}

.error{
	border:2px solid #8a1f11;
	display:none;
}
.notice {
	background-color:#FFF6BF;
	color:#514721;
	border:2px solid #FFD324;
	display:none;
}

